docopt==0.6.2
Flask-BabelEx==0.9.4
invenio-access==1.4.2
invenio-accounts==1.4.3
invenio-celery==1.2.2
invenio-config==1.0.3
invenio-db==1.0.8
invenio-records-marc21==0.1.1
invenio-search[elasticsearch7]==1.4.0
lxml==4.6.2
pytest-invenio==1.4.0
Sphinx==1.5.1
